* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.formPage {
  background-color: #D9D9D9;
  font-weight: 400;
  width: 60vw;
  height: 100vh;
  position: absolute;
  left: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 3vh;
}

.input2  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 1vh;
}

 .input3 {
  display: flex;
  flex-direction: row;
  
} 

input {
  border: 1px #BBB9BC solid;
  border-radius: 6px;
  height: 7vh;
  margin: 4px 0px;
  padding: 8px;


}

input ::placeholder{
  color: #BBB9BC;
}

.button {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0px 12vw;
  border-radius: 6px;
}

label, input, .input3 {
  background-color: #D9D9D9;
}